<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Let's check your orders!</h1>
        <p class="lead">We believe data proccessing can be very crucial to optimize transactions with our customers. Feel free to check your complete information of your selected order.</p>
        <hr class="my-4">
        <p>Please select options below for further informations of your order(s).</p>
        
        <a class="btn btn-primary btn-lg" href="/menu" role="button">Go to Menu</a>
        <a class="btn btn-primary btn-lg" href="/customers" role="button">Check your ID</a>
    </div>
</body>
</html>